<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin1.1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/temp/X-admin/css/font.css">
	<link rel="stylesheet" href="/temp/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/temp/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/temp/X-admin/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        {include file="public/menu_top" /}
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
       {include file="public/menu_left" /}
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            
            <blockquote class="layui-elem-quote">
                宿舍房间与床位管理
            </blockquote>
            <blockquote class="layui-elem-quote">
                管理宿舍房间与床位的信息
            </blockquote>
            
            <xblock>
                <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
                <button class="layui-btn" onclick="dorm_add('添加房间','dorm_add.html','600','500')"><i class="layui-icon">&#xe608;</i>添加</button>
                <span class="x-right" style="line-height:40px">共有数据：{$dorm_size} 条</span>
            </xblock>
            
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">宿舍房间与床位管理</a></legend>
            </fieldset>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="" value="" onclick="swapCheck()">
                        </th>
                        <th>ID</th>
                        <th>楼名</th>
                        <th>宿舍号</th>
                        <th>性别</th>
                        <th>总床位数</th>
                        <th>剩余床位数</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="dorm" id='vo'}
                    <tr>
                        <td>
                            <input type="checkbox" value="1" name="">
                        </td>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.room_id}</td>
                        <td>{$vo.gender}</td>
                        <td>{$vo.bed}</td>
                        <td>{$vo.available}</td>
                        <td class="td-manage">
                            
                            <a title="编辑"  href="javascript:;" onclick="dorm_edit('编辑宿舍房间与床位','{:url("dorm_edit","id=$vo[id]")}',this,'600','500')"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                            <!--<a title="删除" href="javascript:;" onclick="admin_del(this,'1')" 
                            style="text-decoration:none">-->
                            <a title="删除" href="javascript:;" onclick="javascript:dorm_del(this,'{:url("dorm_del","id=$vo[id]")}')"
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
                
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    {include file="public/menu_bottom" /}
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
	{include file="public/background_change" /}
    <!-- 背景切换结束 -->
    {include file="public/baidu" /}
    
    <script type="text/javascript">
		//checkbox 全选/取消全选
		var isCheckAll = false;
		function swapCheck() {
			if (isCheckAll) {
				$("input[type='checkbox']").each(function() {
					this.checked = false;
				});
				isCheckAll = false;
			} else {
				$("input[type='checkbox']").each(function() {
					this.checked = true;
				});
				isCheckAll = true;
			}
		}
		// 宿舍-编辑
        function dorm_edit (title,url,obj,w,h) {
            //var oid = $(obj).parent("td").siblings("td").eq(1).text();
            x_admin_show(title,url,w,h);
        }
        /*宿舍-删除*/
        function dorm_del(obj,url){
            //alert(url);
            layer.confirm('确认要删除吗？',function(index){
                //发异步删除数据
                $.get(url, function(data,status){
                    if(status=="success"){
                        
                        layer.msg('已删除!',{icon:1,time:1000});
                        window.location.href=window.location.href;
                    }
                });
            });
        }
        /*宿舍-添加*/
        function dorm_add(title,url,w,h){
            x_admin_show(title,url,w,h);
        }
        
		//批量删除提交
        function delAll () {
            layer.confirm('确认要删除吗？',function(index){
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', {icon: 1});
            });
         }
	</script>
 
</body>
</html>