<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin1.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/temp/X-admin/css/font.css">
	<link rel="stylesheet" href="/temp/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/temp/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <!--<script src="/temp/X-admin/lib/layui/lay/modules/form.js" charset="utf-8"></script>
    <script src="/temp/X-admin/lib/layui/lay/all.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/temp/X-admin/lib/layui/css/layui.css">-->
    <script type="text/javascript" src="/temp/X-admin/js/xadmin.js"></script>

</head>
<body>
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form"  action="javascript:edit();">
                <div class="layui-form-item" style="display:none">
                    <label for="L_id" class="layui-form-label">
                        <span class="x-red">*</span>ID
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_id" name="id" required="" disabled="" lay-verify="id"
                        autocomplete="off" class="layui-input" value="{$info['user_id']}">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>不可修改
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_name" class="layui-form-label">
                        <span class="x-red">*</span>姓名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_name" name="name" required="" disabled="" lay-verify="name"
                        autocomplete="off" class="layui-input" value="{$info['name']}">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>不可修改
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_gender" class="layui-form-label">
                        <span class="x-red">*</span>性别
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_gender" name="gender" required="" disabled="" lay-verify="gender"
                        autocomplete="off" class="layui-input" value="{$info['gender']}">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>不可修改
                    </div>
                </div>
                <div class="layui-form-item" style="display:none">
                    <label for="L_olddormid" class="layui-form-label">
                        <span class="x-red">*</span>原宿舍ID
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_olddormid" name="olddormid" required="" disabled="" lay-verify="olddormid"
                        autocomplete="off" class="layui-input" value="{$info['dorm_id']}">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>不可修改
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_olddorm" class="layui-form-label">
                        <span class="x-red">*</span>原宿舍
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_olddorm" name="olddorm" required="" disabled="" lay-verify="olddorm"
                        autocomplete="off" class="layui-input" value="{$info['building_name']}{$info['room_id']}">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>不可修改
                    </div>
                </div>
                <div class="layui-form-item" id="d">
                    <label for="L_dorm" class="layui-form-label">
                        <span class="x-red">*</span>宿舍
                    </label>

                    <div class="layui-input-inline">
                        {volist name="dorm" id='vo'}
                        <input type="radio" name="dorm" value="{$vo.id}" title="{$vo.name}{$vo.room_id}">
                        {/volist}
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_edit" class="layui-form-label">
                    </label>
                    
                    <button  class="layui-btn" lay-filter="edit" lay-submit="javascript:;" >
                        确定
                        
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->

    <script type="text/javascript">

        function edit(){
            var user_id = $('#L_id').val();
            var olddorm_id = $('#L_olddormid').val();
            var dorm_id = $('#d input[name="dorm"]:checked ').val();

            var str = "/user_id/"+user_id+"/olddorm_id/"+olddorm_id+"/dorm_id/"+dorm_id;
            var url="/index.php/admin/arrange/change_submit"+str+".html";
            
            $.get(url, function(data,status){
                if(status=="success"){
                        parent.layer.closeAll();
                        parent.layer.msg('调换成功',{icon:1,time:1000});
                        window.parent.location.href=window.parent.location.href;
                    
                }
            });


        }
    </script>


    {include file="public/baidu" /}
</body>
</html>